/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/JSP_Servlet/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : 30 Nov 2022, 5:20:57 pm
    Author     : Arcus
*/

@import url('https://fonts.googleapis.com/css?family=Montserrat:500');

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  
}

html, body {
  height: 100%;
  width: 100%;
}

header{
  display:flex;
  justify-content: flex-end;
  align-items: center;
  padding: 30px 10px;
  background-color: #90ee09;
}

header h1{
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 4rem;
  color: white;
  text-decoration: none;
  
}

.logo{
  width: 75px;
  height: auto;
  border-radius: 50%;
  cursor: pointer;
  margin-left: auto;
  order: 3;
}

footer{
  position: static;
  bottom: 0;
  left: 0;
  right: 0;
  height: 175px;
  width: 100vw;
  padding: 10px 10px 0px 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}

footer button{
  font-family: "Montserrat", sans-serif;
  font-size: 1.1rem;
  font-weight: 500;
  text-transform: capitalize;
  line-height: 3rem;
}

main{
  justify-content: center;
    align-items: center;
  flex: 1 1 auto;
    display: flex;
}

main h1 {
  position: relative;
  color: #ffffff;  
  font-size: 4rem;
  line-height: 0.9;
  text-align: center;
  text-shadow:
		-1px -1px 0 #000,
		1px -1px 0 #000,
		-1px 1px 0 #000,
		1px 1px 0 #000;
}

main p{
  font-family: "Montserrat", sans-serif;
  position: relative;
  color: black;  
  font-size: 3rem;
  line-height: 0.9;
  text-align: center;
}

.bodyImage{
    position: relative; 
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.bodyImage::before {    
      content: "";
      background-size: cover;
      position: absolute;
      top: 0px;
      right: 0px;
      bottom: 0px;
      left: 0px;
      opacity: 0.75;
}